/*--------------------------------------------*/
/*              BASE GRID SECTIONS            */
/*--------------------------------------------*/
.l-container-base{
    display: flex;
    background: $secondary-color;
    min-height: 100vh;
}
.l-section-bag{
    min-width: 48rem;
    display: flex;
    &--short{
        min-width: auto;
    }
}
.section-workspace{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30rem 1fr;
    background-color: $primary-color;

}

.section-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    background: #1e4aa8; 
    background: linear-gradient(to left, #1e4aa8, #163366);
    background: linear-gradient(to left, #e6edf8, #ffffff);

}
