/*--------------------------------------------*/


/*              DOCUMENT COUNT                */


/*--------------------------------------------*/

.process-count {
    position: absolute;
    height: 10rem;
    width: 10rem;
    top: -4rem;
    right: -4rem;
    &__chart {
        display: block;
        margin: 1rem auto;
        max-width: 80%;
        max-height: 25rem;
    }
    &__circle {
        stroke: $light-blue;
        fill: none;
        stroke-width: 0.23rem;
        stroke-linecap: round;
        animation: progress 1s ease-out forwards;
        animation-delay: 2s;
    }
    &__container {
        position: relative;
    }
    &__amount {
        position: absolute;
        top: 3.7rem;
        left: 3.1rem;
        font-size: 2.4rem;
        font-weight: 600;
        z-index: 1;
        color: $primary-color;
        text-align: center;
        width: 4rem;
        &::before {
            @include pseudo;
            width: 6rem;
            height: 6rem;
            top: -1.7rem;
            left: -1.1rem;
            border-radius: 50%;
            background: #e6edf8;
            z-index: -1;
        }
    }
}