/*--------------------------------------------*/


/*              DOCUMENT COUNT                */


/*--------------------------------------------*/

.c-process-count {
    position: absolute;
    width: 8rem;
    top: -3rem;
    right: -3.5rem;
    & .CircularProgressbar-text {
        fill: $primary-color;
        font-size: 26px;
        font-weight: 600;
    }
    & .CircularProgressbar-path {
        stroke: #5392FF;
    }
    & .CircularProgressbar-trail {
        stroke: #ffffff;
    }
    & .CircularProgressbar {
        background: #f2f5fb;
        border-radius: 50%;
    }
}