/*--------------------------------------------*/
/*              TOOLTIP                       */
/*--------------------------------------------*/

.tooltip {
    position: relative;
    color: white;

    &__icon{
        color: #bac0c9;
    }

    &--owner{
        margin-left: 1rem;
        margin-right: 0.2rem;
    }

    &--state{
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
    }

    &-text{
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        line-height: 1.5em;
        visibility: hidden;
        max-width: 30rem;
        min-width: 15rem;
        background-color: #93a6c5;
        color: #fff;
        text-align: center;
        border-radius: 0.6rem;
        padding: 1rem;
        position: absolute;
        z-index: 1;
        bottom: 7.5rem;
        left: 100%;
        margin-left: -12rem;
        opacity: 0;
        transition: .3s;
        transform: translate3d(0px, 2rem, 0px);

        &::after{
            @include pseudo;
            top: 100%;
            left: 75%;
            margin-left: -0.5rem;
            border-width: 0.5rem;
            border-style: solid;
            border-color: #93a6c5 transparent transparent transparent;
        }

        &--owner{
            bottom: 2rem;
            margin-left: -18.4rem;
            min-width: 20rem;
            z-index: 2;
            
            &::after{
                left: 89%;
            }
        }
        
        &--state{
            bottom: -1rem;
            padding: 0.3rem;
            min-width: 11rem;
            margin-left: -13rem;
            max-width: 11rem;

            &::after{
                left: 105%;
                top: 42%;
                transform: rotate(-90deg);
            }
        }

        &--client{
            bottom: 2rem;
            padding: 0.3rem;
            min-width: 7rem;
            margin-left: -4.3rem;

            &::after{
                left: 45%;
            }
        }

        &--header{
            bottom: 2.3rem;
            margin-left: -10rem;
            min-width: 12rem;
        }

        &--document-options{
            bottom: -4rem;
            margin-left: 6rem;
            min-width: 8rem;
            padding: 0.5rem;

            &::after{
                top: 37%;
                left: -5%;
                transform: rotate(90deg);
            }
        }
    }

    &:hover .tooltip-text{
        visibility: visible;
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
  }
  